.vertical-element {
    height: 50vh;
    background-color: rgb(88, 88, 88);

}

.customContainer{
    height: 600px;
    width: 100%;
}

.carousel{
    margin-top: -24px;
}

.carousel-indicators
{
    position: relative;
    margin-top: 10px;
}