.vertical-element {
    height: 50vh;
    background-color: #4F5D73;
}

.customContainer{
    height: 53vh;
    width: 100%;
}

.carousel{
    margin-top: -24px;
}

.carousel-indicators
{
    position: relative;
    margin-top: 10px;
}

.list-unstyled img {
    border-radius: 50%;
  }
  img {
    border-radius: 50%;
  }

  hr{
    border: 2px solid rgb(0, 0, 0);
  }

  .copyrightBG{
    background-color: rgba(0, 0, 0, 0.2)
  }

 /* body{
    min-width: 1200px;
}*/


.customContainer .row{
    display: flex;
    flex-wrap: nowrap;
}

.customContainer{
    flex: 1;
    min-width: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

@media only screen
and (max-width : 992px)
{
    .customContainer .carousel-inner{
        flex: 1;
        min-width: 0;
        overflow-x: auto;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background: #232323; /* Dark background color for the scrollbar track */
}
::-webkit-scrollbar-thumb {
  background: #444; /* Darker background color for the scrollbar thumb */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly lighter color when hovering over the scrollbar thumb */
}